footer {
  background-color: #3498db; /* Blue background color */
  color: white; /* Text color */
  text-align: center;
  padding: 20px;
  margin-left: -20px;
  position: fixed;
  bottom: 0;
  width: 100vw; /* Full width of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .links-left {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

footer .links-left a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer .subscribe {
  flex: 1;
  display: flex;
  justify-content: center;
}

footer .subscribe input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid #ccc;
}

footer .subscribe button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* .image-slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.image-slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-slider img {
  flex: 0 0 auto;
  width: 100%;
  transition: transform 0.5s ease;
}

.image-slider button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
} */
