body {
  background-color: #f0f0f0; /* Light gray background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.logo {
    width: 50px; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Add margin around the logo */
}

/* Navbar styles */
.navbar {
    background-color: orange;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Center the content horizontally */
    align-items: center;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-toggler span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: background-color 0.3s;
}

.navbar-toggler.open span {
    background-color: transparent;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: inline-block; /* Display list items horizontally */
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ff9900;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center items vertically */
    }

    .navbar li {
        display: block; /* Display list items vertically */
        width: 100%;
    }

    .navbar li a {
        text-align: center;
    }
}

/* Highlighted word styles */
.highlighted {
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}


footer {
  background-color: #3498db; /* Blue background color */
  color: white; /* Text color */
  text-align: center;
  padding: 20px;
  margin-left: -20px;
  /* position: fixed; */
  position: sticky;
  bottom: 0;
  width: 100vw; /* Full width of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .links-left {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

footer .links-left a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer .subscribe {
  flex: 1;
  display: flex;
  justify-content: center;
}

footer .subscribe input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid #ccc;
}

footer .subscribe button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}